<a href="https://colab.research.google.com/github/wujj0326/COVID_Risk_Competition/blob/master/Get_risk_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LA County Risk Score

## import risk data

In [175]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [176]:
risk = pd.read_csv('https://raw.githubusercontent.com/wujj0326/COVID_Risk_Competition/master/Data/risk_confirmed.csv')

In [177]:
risk.head()

           City  confirmed_cases  ...  avg_elderly  pop_dens
0         Acton               11  ...         5.24  120974.0
1  Agoura Hills               35  ...         5.45  177875.5
2      Alhambra              226  ...        10.40  551582.0
3      Altadena              157  ...        10.67  864902.9
4       Arcadia              104  ...         8.78  755363.9

[5 rows x 10 columns]

In [178]:
# normalize the scale by using minmaxscaler
scale_risk = MinMaxScaler(feature_range=(0, 1))
features = scale_risk.fit_transform(risk.iloc[:,3:-1])

#  vulnerable factors related to death cases

# •       elderly

# •       asthma

# •       cardiovascular

#  vulnearble factors related to infected cases

# •       poverty: the higher the value the poorer the area

# •       traffic

# •       population

confirm_feat = np.sum(features[:,np.r_[0,1,4]],axis=1)
death_feat = np.sum(features[:,np.r_[2,3,5]],axis=1)

In [179]:
# apply sigmoid function to confirm feature and death feature
sig_confirmed = 1/(1 + np.exp(confirm_feat)) 
sig_death = 1/(1 + np.exp(death_feat))

In [180]:
risk['confirmed_score'] = sig_confirmed
risk['death_score'] = sig_death

In [181]:
risk_score = risk.iloc[:,np.r_[0,-2,-1]]

## import the predicted data

In [182]:
case_fit = pd.read_csv('https://raw.githubusercontent.com/wujj0326/COVID_Risk_Competition/master/Data/cases_prediction.csv')

In [183]:
case_fit

        time     positive  positive_low  positive_high
0  7/29/2020  181121.1035   179840.8907    182761.2016
1  7/30/2020  183586.7964   182180.9785    185600.7594
2  7/31/2020  186078.0061   184542.7771    188478.2714
3   8/1/2020  188595.2395   186926.7146    191394.5058
4   8/2/2020  191139.0128   189333.2267    194350.2463
5   8/3/2020  193709.8516   191762.7570    197346.2921
6   8/4/2020  196308.2903   194215.7553    200383.4582

In [184]:
death = pd.read_csv('https://raw.githubusercontent.com/wujj0326/COVID_Risk_Competition/master/Data/deaths_prediction.csv')

In [185]:
death

        time         dead     dead_low    dead_high
0  7/29/2020  4457.672053  4442.130056  4472.148723
1  7/30/2020  4489.281939  4470.465939  4506.684092
2  7/31/2020  4520.776952  4498.364630  4541.215381
3   8/1/2020  4552.160918  4526.103289  4575.747185
4   8/2/2020  4583.437635  4553.685923  4610.284097
5   8/3/2020  4614.610869  4581.116484  4644.830712
6   8/4/2020  4645.684357  4608.398865  4679.391622

## Get Hazard Score

In [186]:
prediction = pd.merge(case_fit, death, left_on='time', right_on='time')

In [187]:
prediction = prediction.iloc[:,[0,1,4]]

In [188]:
prediction['positive_increase'] = prediction['positive'].diff()
prediction['dead_increase'] = prediction['dead'].diff()

In [189]:
prediction = prediction.iloc[1:,[0,3,4]].reset_index(drop=True)

In [190]:
def norm_hazard(alpha,data):
  alpha = alpha
  data['hazard'] = data['positive_increase']*alpha + data['dead_increase']*(1-alpha)
  return data

In [191]:
pred_haz = norm_hazard(0.012,prediction).iloc[:,[0,-1]]

## Get Risk Score

In [210]:
# To get the risk score for each date
risk_score['{}'.format(pred_haz['time'][0])] = risk_score['confirmed_score']*pred_haz['hazard'][0]
risk_score['{}'.format(pred_haz['time'][1])] = risk_score['confirmed_score']*pred_haz['hazard'][1]
risk_score['{}'.format(pred_haz['time'][2])] = risk_score['confirmed_score']*pred_haz['hazard'][2]
risk_score['{}'.format(pred_haz['time'][3])] = risk_score['confirmed_score']*pred_haz['hazard'][3]
risk_score['{}'.format(pred_haz['time'][4])] = risk_score['confirmed_score']*pred_haz['hazard'][4]
risk_score['{}'.format(pred_haz['time'][5])] = risk_score['confirmed_score']*pred_haz['hazard'][5]

              City  confirmed_score  ...   8/4/2020  weekly_score
0            Acton         0.189272  ...  11.712534     11.608786
1     Agoura Hills         0.181774  ...  11.248528     11.148890
2         Alhambra         0.144250  ...   8.926458      8.847389
3         Altadena         0.187301  ...  11.590507     11.487840
4          Arcadia         0.155135  ...   9.600014      9.514979
..             ...              ...  ...        ...           ...
85          Venice         0.341497  ...  21.132483     20.945295
86      West Hills         0.418424  ...  25.892833     25.663479
87      Wilmington         0.234219  ...  14.493927     14.365543
88        Winnetka         0.254805  ...  15.767797     15.628129
89  Woodland Hills         0.324499  ...  20.080588     19.902718

[90 rows x 10 columns]

### Weekly Risk Score and Level

In [ ]:
# To get the weekly score for each city
risk_score['weekly_score'] = risk_score.iloc[:,3:].mean(axis=1)

In [209]:
# To get the weekly score for each city and store it to a DF
risk_score['weekly_score'] = risk_score.iloc[:,3:].mean(axis=1)
weekly_risk = risk_score.loc[:,['City','weekly_score']]

              City  weekly_score  level
0            Acton     11.608786      2
1     Agoura Hills     11.148890      1
2         Alhambra      8.847389      1
3         Altadena     11.487840      2
4          Arcadia      9.514979      1
..             ...           ...    ...
85          Venice     20.945295      4
86      West Hills     25.663479      4
87      Wilmington     14.365543      2
88        Winnetka     15.628129      3
89  Woodland Hills     19.902718      4

[90 rows x 3 columns]

In [195]:
# Get the weekly level
weekly_level = []
for risk in weekly_risk['weekly_score']:
  if risk <= weekly_risk['weekly_score'].quantile(0.25):
    b = 1
  elif risk <= weekly_risk['weekly_score'].quantile(0.50) and risk >weekly_risk['weekly_score'].quantile(0.25):
    b = 2 
  elif risk <= weekly_risk['weekly_score'].quantile(0.75) and risk > weekly_risk['weekly_score'].quantile(0.50):
    b = 3
  else: b =4
  weekly_level.append(b)

In [211]:
weekly_risk['level'] = weekly_level

              City  weekly_score  level
0            Acton     11.608786      2
1     Agoura Hills     11.148890      1
2         Alhambra      8.847389      1
3         Altadena     11.487840      2
4          Arcadia      9.514979      1
..             ...           ...    ...
85          Venice     20.945295      4
86      West Hills     25.663479      4
87      Wilmington     14.365543      2
88        Winnetka     15.628129      3
89  Woodland Hills     19.902718      4

[90 rows x 3 columns]

### Time Series Risk Score

In [212]:
risk_trunc = risk_score.iloc[:,[0,3,4,5,6,7,8]]

              City  7/30/2020  7/31/2020  ...   8/2/2020   8/3/2020   8/4/2020
0            Acton  11.511339  11.547813  ...  11.626378  11.668499  11.712534
1     Agoura Hills  11.055304  11.090333  ...  11.165785  11.206238  11.248528
2         Alhambra   8.773122   8.800920  ...   8.860796   8.892898   8.926458
3         Altadena  11.391408  11.427503  ...  11.505249  11.546931  11.590507
4          Arcadia   9.435108   9.465004  ...   9.529398   9.563922   9.600014
..             ...        ...        ...  ...        ...        ...        ...
85          Venice  20.769475  20.835284  ...  20.977035  21.053033  21.132483
86      West Hills  25.448053  25.528687  ...  25.702369  25.795487  25.892833
87      Wilmington  14.244955  14.290090  ...  14.387312  14.439436  14.493927
88        Winnetka  15.496942  15.546045  ...  15.651811  15.708517  15.767797
89  Woodland Hills  19.735650  19.798183  ...  19.932878  20.005094  20.080588

[90 rows x 7 columns]

In [225]:
trans = risk_trunc.set_index('City').transpose()

City           Acton  Agoura Hills  ...   Winnetka  Woodland Hills
7/30/2020  11.511339     11.055304  ...  15.496942       19.735650
7/31/2020  11.547813     11.090333  ...  15.546045       19.798183
8/1/2020   11.586154     11.127155  ...  15.597661       19.863917
8/2/2020   11.626378     11.165785  ...  15.651811       19.932878
8/3/2020   11.668499     11.206238  ...  15.708517       20.005094
8/4/2020   11.712534     11.248528  ...  15.767797       20.080588

[6 rows x 90 columns]

In [226]:
trans_reindex = trans.reset_index()

In [231]:
melted = pd.melt(trans_reindex, id_vars='index', value_vars=trans_reindex.columns[1:])

         index            City      value
0    7/30/2020           Acton  11.511339
1    7/31/2020           Acton  11.547813
2     8/1/2020           Acton  11.586154
3     8/2/2020           Acton  11.626378
4     8/3/2020           Acton  11.668499
..         ...             ...        ...
535  7/31/2020  Woodland Hills  19.798183
536   8/1/2020  Woodland Hills  19.863917
537   8/2/2020  Woodland Hills  19.932878
538   8/3/2020  Woodland Hills  20.005094
539   8/4/2020  Woodland Hills  20.080588

[540 rows x 3 columns]

In [233]:
sort_melt = melted.sort_values(by='index').reset_index(drop=True).rename(columns={'index':'Date','value':'Score'})

          Date               City      Score
0    7/30/2020              Acton  11.511339
1    7/30/2020        Harbor City  17.045712
2    7/30/2020          Hawthorne   9.531358
3    7/30/2020      Hermosa Beach  13.992398
4    7/30/2020           Van Nuys   7.046091
..         ...                ...        ...
535   8/4/2020         Northridge  12.297058
536   8/4/2020  Pacific Palisades  26.433559
537   8/4/2020            Pacoima   7.202789
538   8/4/2020            Lynwood  16.045218
539   8/4/2020     Woodland Hills  20.080588

[540 rows x 3 columns]

In [240]:
# Calculate the quantile for each date
q1 = np.quantile(trans,0.25,axis=1).reshape(-1,1)
q2 = np.quantile(trans,0.5,axis=1).reshape(-1,1)
q3 = np.quantile(trans,0.75,axis=1).reshape(-1,1)
quantiles = np.concatenate([q1,q2,q3], axis = 1)
quant_df = pd.DataFrame(quantiles, columns=['q1','q2','q3'], index=trans.index)

                  q1         q2         q3
7/30/2020  11.154053  14.461655  17.207113
7/31/2020  11.189396  14.507478  17.261634
8/1/2020   11.226546  14.555645  17.318946
8/2/2020   11.265522  14.606178  17.379072
8/3/2020   11.306336  14.659095  17.442035
8/4/2020   11.349003  14.714415  17.507857

In [242]:
merged_with_quantile = pd.merge(sort_melt, quant_df, left_on='Date', right_on=quant_df.index)

In [ ]:
level = []
for score, q1, q2, q3 in zip(merged_with_quantile['Score'], merged_with_quantile['q1'], merged_with_quantile['q2'], merged_with_quantile['q3']):
  if score <= q1:
    lev = 1
  elif score <= q2 and score > q1:
    lev = 2
  elif score <= q3 and score > q2:
    lev = 3
  else : 
    lev = 4
  level.append(lev)

In [252]:
merged_with_quantile['Daily_Level'] = level

          Date               City      Score  ...         q2         q3  Daily_Level
0    7/30/2020              Acton  11.511339  ...  14.461655  17.207113            2
1    7/30/2020        Harbor City  17.045712  ...  14.461655  17.207113            3
2    7/30/2020          Hawthorne   9.531358  ...  14.461655  17.207113            1
3    7/30/2020      Hermosa Beach  13.992398  ...  14.461655  17.207113            2
4    7/30/2020           Van Nuys   7.046091  ...  14.461655  17.207113            1
..         ...                ...        ...  ...        ...        ...          ...
535   8/4/2020         Northridge  12.297058  ...  14.714415  17.507857            2
536   8/4/2020  Pacific Palisades  26.433559  ...  14.714415  17.507857            4
537   8/4/2020            Pacoima   7.202789  ...  14.714415  17.507857            1
538   8/4/2020            Lynwood  16.045218  ...  14.714415  17.507857            3
539   8/4/2020     Woodland Hills  20.080588  ...  14.714415  17.507857            4

[540 rows x 7 columns]

In [254]:
final_risk = merged_with_quantile.iloc[:,[0,1,2,-1]]

          Date               City      Score  Daily_Level
0    7/30/2020              Acton  11.511339            2
1    7/30/2020        Harbor City  17.045712            3
2    7/30/2020          Hawthorne   9.531358            1
3    7/30/2020      Hermosa Beach  13.992398            2
4    7/30/2020           Van Nuys   7.046091            1
..         ...                ...        ...          ...
535   8/4/2020         Northridge  12.297058            2
536   8/4/2020  Pacific Palisades  26.433559            4
537   8/4/2020            Pacoima   7.202789            1
538   8/4/2020            Lynwood  16.045218            3
539   8/4/2020     Woodland Hills  20.080588            4

[540 rows x 4 columns]

In [255]:
# final_risk.to_csv('final_risk_score.csv',index=False)